{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ArraiáTech</title>
    <link rel="stylesheet" href="{% static 'publico/cabecalho.css' %}">
</head>
<body>
    <div class="navbar">
        <button onclick="window.location.href='/'" class="logo">ArraiáTech</button>
        <div class="menu">
        </div>
        <button onclick="window.location.href='/admin'">Entrar</button>
    </div>
</body>
</html>


