{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ArraiáTech</title>
    <link rel="stylesheet" href="{% static 'publico/cabecalho.css' %}">
</head>
<body>

    <div class="footer">
        <p class="copyright">&copy; 2024 Todos os direitos reservados.</p>
        <ul class="footer-links">
            <li><a href="#" class="footer-link">Política de Privacidade</a></li>
            <li><a href="#" class="footer-link">Termos de Uso</a></li>
            <li><a href="#" class="footer-link">Contato</a></li>
        </ul>
    </div>
</body>
</html>
