{% load static %}

<!DOCTYPE html>

<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meus Cards</title>
</head>
<body>
    {% include 'layouts/base.html' %}
    {% block content %}
 <div class="container">
        <div class="card">
            <h2>SUGESTÕES</h2>
            <p>Faça sugestões</p>
            <a href="/sugestao/">Entrar</a>
        </div>
        
        <div class="card">
            <h2>TRANSPARÊNCIA</h2>
            <p>Acesse informações</p>
            <a href="/transparencia/">Entrar</a>
        </div>

        <div class="card">
            <h2>ÁREA ADMINISTRATIVA</h2>
            <p>Movimentação e cadastros</p>
            <a href="/admin/">Entrar</a>
        </div>
    </div>  
    {% endblock %}
    
    {% include 'layouts/rodape.html' %} 
</body>
</html>
