{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Envie sua sugestão</title>
    <link rel="stylesheet" href="{% static 'publico/css.css' %}">
    <link rel="stylesheet" href="{% static 'formulario.css' %}">
</head>
<body>
    {% include 'layouts/base.html' %}
    {% block content %}
    <div class="container">
        <div class="card">
            <h2>Enviar Sugestão</h2>
            <form id="sugestao_form" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Enviar</button>
            </form>
        </div>
    </div>
    {% endblock %}

    {% include 'layouts/rodape.html' %}
</body>
</html>
