{% load static %}

<!DOCTYPE html>

<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meus Cards</title>
    <link rel="stylesheet" href="{% static 'publico/css.css' %}">
    <link rel="stylesheet" href="{% static 'formulario.css' %}"> <!-- Arquivo CSS para o formulário -->
</head>
<body>
    {% include 'layouts/base.html' %}
    {% block content %}
    <div class="container">
        <div class="card"> <!-- Adicionando a div com a classe card -->
            <form id="sugestao_form" method="post">
                <h1>Envie sua sugestão</h1>
                <div id="mensagem">
                    {% if mensagem %}
                        <p>{{ mensagem }}</p>
                    {% endif %}
                </div>
                {% csrf_token %}
                <div>
                    <label for="id_nome">Nome:</label><br>
                    {{ form.nome }}
                </div>
                <div>
                    <label for="id_telefone">Telefone:</label><br>
                    {{ form.telefone }}
                </div>
                <div>
                    <label for="id_sugestao">Sugestão:</label><br>
                    {{ form.sugestao }}
                </div>
                <button type="submit">Enviar</button>
            </form>
        </div>
    </div>
    {% endblock %}
    <script src="{% static 'js/sugestao_form.js' %}"></script>
</body>
</html>
