/* home.css */

@media screen and (max-width: 768px) {
    .menu {
        display: none;
    }
    .profile-btn {
        display: none;
    }
    .navbar {
        justify-content: center;
    }
}

/* Reset de margem e preenchimento padrão para todos os elementos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Defina uma cor de fundo para a página inteira */
/* Estilos para o corpo do documento */
body {
    background-color: #ffecb3; /* Altera a cor de fundo para um tom de amarelo mais fraco */
    font-family: Arial, sans-serif; /* Define a família de fontes para o texto */
    margin: 0; /* Remove margens padrão do corpo do documento */
    padding: 0; /* Remove preenchimento padrão do corpo do documento */
}

/* Estilos para os parágrafos */
p {
    font-size: 16px; /* Define o tamanho da fonte para os parágrafos */
    line-height: 1.6; /* Define a altura da linha para os parágrafos */
    color: #333; /* Define a cor do texto para um tom de cinza escuro */
    margin-bottom: 20px; /* Define a margem inferior para os parágrafos */
}

/* Estilos para as listas */
ul, ol {
    margin: 0; /* Remove margens padrão das listas */
    padding: 0; /* Remove preenchimento padrão das listas */
    list-style: none; /* Remove os estilos de marcadores padrão das listas */
}

/* Estilos para os itens de lista */
li {
    margin-bottom: 10px; /* Define a margem inferior para os itens de lista */
}

/* Estilos para as tabelas */
table {
    width: 100%; /* Define a largura da tabela como 100% da largura disponível */
    border-collapse: collapse; /* Remove espaços entre as células da tabela e oculta as grades */
    margin-bottom: 20px; /* Define a margem inferior para as tabelas */
}

/* Estilos para os cabeçalhos de tabela */
th {
    background-color: #ffecb3; /* Altera a cor de fundo para um tom de amarelo mais fraco */
    padding: 8px; /* Adiciona preenchimento interno aos cabeçalhos da tabela */
    text-align: left; /* Alinha o texto dentro dos cabeçalhos da tabela à esquerda */
}

/* Estilos para as células da tabela */
td {
    padding: 8px; /* Adiciona preenchimento interno às células da tabela */
}

/* Centralize o container dos cards horizontalmente */
.card-container {
    display: flex;
    flex-direction: column; /* Alinha os cards verticalmente */
    align-items: center; /* Alinha os cards ao centro horizontalmente */
    padding: 20px; /* Adiciona um espaçamento interno ao container */
}

.card {
    background-color: #fffecb; /* Altera a cor de fundo para um tom de amarelo mais fraco */
    border-radius: 20px; /* Deixa os cantos do card arredondados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra padrão */
    padding: 20px;
    text-align: center;
    width: 80%; /* Defina uma largura maior para os cards */
    max-width: 400px; /* Defina a largura máxima para evitar que fiquem muito largos */
    margin: 10px 0; /* Adicione um espaçamento vertical entre os cards */
    transition: box-shadow 0.5s ease; /* Transição suave para a sombra */
}

/* Estilize os títulos dos cards */
.card h2 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
}

/* Estilize o subtexto dos cards */
.card p {
    font-size: 1rem;
    color: #777;
    margin-bottom: 20px;
}

/* Estilize os links dos cards */
.card a {
    display: block;
    background-color: #333; /* Altera a cor de fundo para um tom de cinza mais escuro */
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

/* Efeito de hover para os links dos cards */
.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); /* Sombra aumentada no hover */
}

/* Estilos para os botões */
button {
    background-color: #8b4513; /* Cor de fundo azul */
    color: #fff; /* Cor do texto branca */
    padding: 7px 14px; /* Espaçamento interno do botão */
    border: none; /* Remover borda */
    border-radius: 20px; /* Bordas arredondadas */
    font-weight: 600; /* Peso da fonte */
    cursor: pointer; /* Cursor do mouse ao passar sobre o botão */
    transition: background-color 0.3s ease; /* Transição suave para mudança de cor de fundo */
    width: 75px; /* Definindo largura fixa para os botões */
}

/* Estilos quando o cursor está sobre o botão */
button:hover {
    background-color: #585c5f; /* Cor de fundo azul mais escura */
}

/* Estilos específicos para o botão com a classe "logo" */
button.logo {
    font-size: 20px; /* Tamanho da fonte maior */
    font-weight: bold; /* Fonte em negrito */
    color: #8b4513; /* Cor do texto marrom */
    background-color: transparent; /* Botão sem cor de fundo */
    border: none; /* Sem borda */
    width: 75px; /* Largura automática para o botão logo */
}

/* Estilos específicos para o botão com a classe "profile-btn" */
button.profile-btn {
    background-color: #dc3545; /* Cor de fundo vermelha */
    width: 100px; /* Definindo largura fixa para o botão */
}

h1 {
    text-align: center; /* Alinhar o texto ao centro */
}

.menu {
    display: flex;
    gap: 20px;
}

.menu-item {
    position: relative;
}

.menu-item a {
    text-decoration: none;
    color: #8b4513; /* Marrom */
    font-weight: 500;
}

.menu-item:hover::after {
    content: "\25BC";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5dc; /* Cor sólida leve para o fundo */
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7); /* Fundo amarelado com transparência */
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-image: url('static/publico/R.png');
    background-size: cover; /* Ajusta a imagem para cobrir todo o cabeçalho */
    background-position: center bottom; /* Centraliza a imagem verticalmente e alinha-a na parte inferior */
    /* Adicione outros estilos conforme necessário */
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #8b4513; /* Marrom para representar a terra */
}

.profile-btn {
    background-color: #000000; /* Azul para representar o céu */
    color: #fff;
    padding: 8px 16px;
    border-radius: 20px;
    font-weight: 600;
    cursor: pointer;
}

/* Seu CSS personalizado pode ser adicionado aqui */
.logo {
    font-size: 24px;
    font-weight: bold;
    color: #8b4513; /* Marrom para representar a terra */
}

.menu {
    display: flex;
    gap: 20px;
}

.menu-item {
    position: relative;
}

.menu-item a {
    text-decoration: none;
    color: #8b4513; /* Marrom */
    font-weight: 500;
}

.menu-item:hover::after {
    content: "\25BC";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
}

.profile-btn {
    background-color: #4682b4; /* Azul para representar o céu */
    color: #fff;
    padding: 8px 16px;
    border-radius: 20px;
    font-weight: 600;
    cursor: pointer;
}

/* Adicione estilos para o rodapé */
footer {
    background-color: #333; /* Cor de fundo escura para o rodapé */
    color: #fff; /* Cor do texto branca */
    padding: 20px; /* Espaçamento interno do rodapé */
    text-align: center; /* Alinhamento do texto centralizado */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Torna o container ocupar toda a altura da viewport */
}

form {
    width: 400px; /* Define a largura do formulário */
}

form div {
    margin-bottom: 10px; /* Adiciona um espaçamento entre os campos */
}